/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

div.popover section {
    margin: 100px auto;
    /* width: 1000px; */
    text-align: center;
}

.popover h1 {
    margin-bottom: 40px;
}

.popover button {
    padding: 12px;
    font-weight: bold;
}

.popover .heading {
    margin-bottom: 10px;
}