.btn_primary {
    background-color:#3498db;
    color: white;
}
.btn_primary:hover{
        background-color: white;
        border-color:#3498db;
        color: #3498db;
        box-shadow: 0 5px 15px rgb(52, 152, 219, 0.4);
}
.btn_secondary {
    background-color:#ffffff;
    color: #1c1b1b;
    border-color: #1c1b1b;
}
.btn_secondary:hover{
        background-color: #1c1b1b;
        /* border-color:#3498db; */
        color: #ffffff;
        box-shadow: 0 5px 15px rgb(28, 27, 27, 0.4);
}
.btn_success {
    background-color:hsl(145, 86%, 52%);
    color: white;
    border-color: hsl(145, 86%, 52%);
}
.btn_success:hover{
        background-color: rgba(27, 238, 115, 0.877);
        /* border-color:#3498db; */
        color: #ffffff;
        box-shadow: 0 5px 15px rgba(27, 238, 115, 0.877);
}
.btn_success {
    background-color:hsl(145, 86%, 52%);
    color: white;
    border-color: hsl(145, 86%, 52%);
}
.btn_success:hover{
        background-color: rgba(27, 238, 115, 0.877);
        /* border-color:#3498db; */
        color: #ffffff;
        box-shadow: 0 5px 15px rgba(27, 238, 115, 0.877);
}

.btn_danger {
    border-color: #e9250b;
    color: #e9250b;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
  }
  .btn_danger:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #e9250b;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  .btn_danger:hover {
    color: #fff;
    box-shadow: 0 5px 15px rgb(233, 37, 11, 0.4);
  }
  .btn_danger:hover:after {
    width: 110%;
  }