@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.ShowSkeleton {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
}

