
.tooltip section {
    margin: 40px auto;
    width: 100%;
    text-align: center;
}

.tooltip h1 {
    margin-bottom: 40px;
}

.tooltip button {
    padding: 12px;
    font-weight: bold;
}

.tooltip .heading {
    margin-bottom: 10px;
} 