.dt h3{
    color: #ba5710;
    padding: 1%;
}

.dt table{
    padding: 0.5%;
    margin: 0.5%;
    border: none;
}

.dt table thead{
    border-color: lightgray transparent #ba5710  !important;
    border-style: solid;
    border-width: 2px 0px 3px 0px;
    height: 10vh;
    line-height: 10vh;
    font-size: 1.2rem;
}

.dt table thead th {
    color: #333;
    cursor: pointer;
}