.pag-container{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 1%;
}
.pag-item{
    /* border: 5px; */
    width: 2rem;
    height: 2rem;
    border-color: lightgray;
    border-width: thin;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    border-radius: 2px;
    margin: 3px;


border-style: solid;}

.pag-prev, .pag-next {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #282a2e;
    color: white;
    border: none;
    border-radius: 2px;
}

.pag-prev:hover, .pag-next:hover{
    border-width: 1px;
    border-color: white;
    background-color: #434448;
    box-shadow: 0px 0px 0px 3px #434448;
    border-style: solid;
    border-radius: 2px;


}
.pag-prev:disabled, .pag-next:disabled {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #888b8d;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: not-allowed;
}
.pag-prev:disabled:hover, .pag-next:disabled:hover{
    border: none;
    box-shadow: none;
}
.pag-item:hover{
    background-color: #ba5710;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 3px #ba5710;
    z-index: 1;
}


.pag-active{
    z-index: 1;
    background-color: #fdf8df;
    font-weight: bold;
    box-shadow: 0px 0px 0px 3px #ba5710;
    border: none;
    
}