html,body {
    padding: 0 !important;

    /* background-color: white !important; */

}
.center{
    /* display: flex;
    justify-content: center; */
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}